<!DOCTYPE html>
<html lang="en">
    <!-- "Include <title>insta485</title>" -->
    <head>
        <title>
            insta485
        </title>
    </head>
    <body>
        <header>
            <!-- "Include a link to /" -->
            <a href="/">
                <img src="/images/instagram.png" alt="instagram logo" width="40" height="40">
            </a>

            <!-- "Include a link to /explore/ and /users/awdeorio/" -->
            <a href="/explore/">
                <strong>
                    explore
                </strong>
            </a>

            <a href="/users/{{ logname }}/">
                <strong>
                    {{ logname }}
                </strong>
            </a>
        </header>

        <main>
            <h1>
                Discover People
            </h1>

            {% for f in not_following %}
            <article class="user">
                <!-- "Username, with link to /users/<username>/" -->
                <a href="/users/{{ f.username }}/">
                    {{ f.username }}
                </a>

                <img src="{{ f.user_img_url }}" alt="{{ f.username}} image" width="40" height="40">

                <strong>
                    {{ f.username }}
                </strong>
            </article>
            {% endfor %}
        </main>
    </body>
</html>