<!DOCTYPE html>
<html lang="en">
    <!-- "Include <title>insta485</title>" -->
    <head>
        <title>
            insta485
        </title>
    </head>
    <body>
        <header>
            <!-- "Include a link to /" -->
            <a href="/">
                <img src="/images/instagram.png" alt="instagram logo" width="40" height="40">
            </a>

            <!-- "Include a link to /explore/ and /users/awdeorio/" -->
            <a href="/explore/">
                <strong>
                    explore
                </strong>
            </a>

            <a href="/users/{{ logname }}/">
                <strong>
                    {{ logname }}
                </strong>
            </a>
        </header>

        <main>
            {% for post in posts %}
            <article class="post">
                <header>
                    <!-- "Link to the post owner’s page /users/<POST_OWNER>/ by clicking on their username or profile picture" -->
                    <a href="/users/{{ post.owner }}/">
                        <img src="{{ post.owner_img_url }}" alt="{{ post.owner }} profile pic" width="40" height="40" class="profile-pic">
                        <strong>
                            {{ post.owner }}
                        </strong>
                    </a>
                    
                    <!-- "Link to the post detail page by clicking on the timestamp" -->
                    <a href="/posts/{{ post.postid }}/">
                        {{ post.timestamp }}
                    </a>
                </header>
                
                <!-- "Actual image corresponding to the post" -->
                <img src="{{ post.img_url }}" alt="{{ post.owner }} chicken post" class="post-image">

                <section class="post-info">
                    <!-- "Number of likes" -->
                    <p>
                        <span class="likes">
                            {{ post.likes }} like{{ "s" if post.likes != 1 else "" }}
                        </span>
                    </p>

                    <!-- "Link to the comment owner’s page /users/<COMMENT_OWNER>/ by clicking on their username" -->
                    <div class="comments">
                        {% for comment in post.comments %}
                        <p>
                            <a href="/users/{{ comment.owner }}/">
                                <strong>
                                    {{ comment.owner }}
                                </strong>
                            </a>
                            {{ comment.text }}
                        </p>
                        {% endfor %}
                    </div>
                </section>
            </article>
            {% endfor %}
        </main>
    </body>
</html>
