<!DOCTYPE html>
<html lang="en">
    <!-- "Include <title>insta485</title>" -->
    <head>
        <title>
            insta485
        </title>
    </head>
    <body>
        <header>
            <!-- "Include a link to /" -->
            <a href="/">
                <img src="/images/instagram.png" alt="instagram logo" width="40" height="40">
            </a>

            <!-- "Include a link to /explore/ and /users/awdeorio/" -->
            <a href="/explore/">
                <strong>
                    explore
                </strong>
            </a>

            <a href="/users/{{ logname }}/">
                <strong>
                    {{ logname }}
                </strong>
            </a>
        </header>

        <main>
            <!-- "username" -->
            <h2>
                {{ username }}
            </h2>

            <!-- "Relationship" -->
            <p>
                <!-- "Blank if logged in user == user_url_slug" -->
                {% if username == logname %}
                
                <!-- "“following” if the logged in user is following user_url_slug" -->
                {% elif logname_follows_username %}
                following

                <!-- "“not following” if the logged in user is not following user_url_slug" -->
                {% else %}
                not following

                {% endif %}
            </p>

            <p>
                <!-- "Number of posts, with correct English" -->
                {{ total_posts }} post{{ "s" if total_posts != 1 else "" }}

                <!-- "Link to /users/<user_url_slug>/followers/" -->
                <a href="/users/{{ username }}/followers/">
                    <!-- "Number of followers, with correct English" -->
                    <strong>
                        {{ followers }} follower{{ "s" if followers != 1 else "" }}
                    </strong>
                </a>

                <!-- "Link to /users/<user_url_slug>/following/" -->
                <a href="/users/{{ username }}/following/">
                    <!-- "Number following" -->
                    <strong>
                        {{ following }}
                        following
                    </strong>
                </a>
            </p>

            <!-- "Name" -->
            <p>
                {{ fullname }}
            </p>

            <section class="user-posts">
                <!-- "A small image for each post" -->
                {% for post in posts %}

                <!-- "Clicking on the first image links to /posts/1/" -->
                <a href="/posts/{{ post.postid}}/">
                    <img src="{{ post.img_url }}" alt="{{ post.img_url }} image">
                </a>
                {% endfor %}
            </section>
        </main>
    </body>
</html>
