<!DOCTYPE html>
<html lang="en">
    <!-- "Include <title>insta485</title>" -->
    <head>
        <title>
            insta485
        </title>
    </head>
    <body>
        <header>
            <!-- "Include a link to /" -->
            <a href="/">
                <img src="/images/instagram.png" alt="instagram logo" width="40" height="40">
            </a>

            <!-- "Include a link to /explore/ and /users/awdeorio/" -->
            <a href="/explore/">
                <strong>
                    explore
                </strong>
            </a>

            <a href="/users/awdeorio/">
                <strong>
                    awdeorio
                </strong>
            </a>
        </header>

        <main>
            <!-- "username" -->
            <h2>
                awdeorio
            </h2>

            <!-- "Relationship" -->
            <p>
                <!-- "Number of posts" -->
                2 posts

                <!-- "Link to /users/awdeorio/followers/" -->
                <a href="/users/awdeorio/followers/">
                    <strong>
                        2 followers
                    </strong>
                </a>

                <!-- "Link to /users/awdeorio/following/" -->
                <a href="/users/awdeorio/following/">
                    <strong>
                        2 following
                    </strong>
                </a>
            </p>

            <!-- "Name" -->
            <p>
                Andrew DeOrio
            </p>

            <section class="user-posts">
                <!-- "A small image for each post" -->

                <!-- "Clicking on the first image links to /posts/1/" -->
                <a href="/posts/1/">
                    <img src="/uploads/122a7d27ca1d7420a1072f695d9290fad4501a41.jpg" alt="awdeorio's recent post">
                </a>

                <!-- "Clicking on the second image links to /posts/3/" -->
                <a href="/posts/3/">
                    <img src="/uploads/9887e06812ef434d291e4936417d125cd594b38a.jpg" alt="awdeorio's earliest post">
                </a>
            </section>
        </main>
    </body>
</html>
